

.c-slideShow {
    /*-ctag-example: ...
            { .c-slideShow__title }
            { .c-slideShow__img }
    */
    .a-position-fixed;
    .a-left;
    .a-height-100;
    .a-width-100;
    .a-transition-bottom;
    .a-zindex-slideShow;
    .a-background-alpha-grey-8;
    .a-overflow-hidden;

    bottom: -100%;

    &__title {
        /* -ctag-example: ...title; */
        .a-position-absolute;
        .a-position-top-left;
        .a-text-size;
        .a-text-color-grey-10;
        .a-padding-left-row-half;
        .a-padding-top-row-quarter;

        .zIndex( "page_title" );
        .a-user-select-none;

        /*========= MODIFIERS ===========*/
        & .imageIndex {
            .a-padding-left-row-half;
            .a-text-size-smaller;
        }

    }

    &__img {
        /* -ctag-example: <img ... src='http://placehold.it/1200x1200' />; */
        .a-transition-all;
        .a-position-absolute;
        .a-transform-center;

        max-height: ~"calc(100% - 100px)";
        max-width: ~"calc(100% - 100px)";
        .zIndex( "page_img" );

        .a-user-select-none;

    }

    &__btn {
        /* -ctag-example: ...;*/
        //.a-height-row-1-three-quarters;
        //.a-width-col-quarter;

        width: 50px; height: 50px;

        .a-position-absolute;
        .a-interactive;
        .a-hover-background-alpha-grey-5;

        .a-user-select-none;

        /* -ctag-example: ...;*/
        &--close {
            /* -ctag-example: "..."; */
            background-image: url("../assets/close_icon_white.png");
        }
        &--nextProject {
            /* -ctag-example: "..."; */
            background-image: url("../assets/next_icon_white.png");
        }
        &--prevProject {
            /* -ctag-example: "..."; */
            background-image: url("../assets/prev_icon_white.png");
        }

    }

}
