
.listPage {
    -ctag-example: "...{ .listPage_rowContainer }{ .listPage_typeToggle }";

    .zIndex( "listPage" );
    background-color: #fff;
    position: absolute;
    left: @phi-inv; top: 0px;
    width: @phi; height: 100%;
    transition: width .5s, left .3s, top .2s;

    body.s_project &,
    body.s-slideshow &,
    body.s_page & { 
        border-right: 1px solid #eee;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
        width: @phi-inv;
        left: 0px; top: @phi-inv;
        height: @phi;
    }

    @media ( max-width: @screen-sm-min ) {
        left: 0px; width: 100%;
        position: relative;
        font-size: 14px;

        body.s_project &,
        body.s_list &,
        body.s_page & {
            margin-top: 80px;
            .breakpoint-sm-a-width-100;
        }
    }


    &.nano {
        // width: 100%;
        padding-left: @phi-inv/2;

        @media ( max-width: @screen-sm-min ) {
            height: auto;
            padding-left: 0px;
        }

        .nano-content {
            padding-top: 50px;

            @media ( max-width: @screen-sm-min ) {
                overflow: visible;
                position: relative;
                width: 100%;
                margin-right: 0px !important;
                padding-top: 30px;
            }
        }
    }
    &.nano .nano-pane   {
        background: none;
        margin: 0px 0px;
        margin-right: -1px;
        padding: 0px;

        border-radius: 0px;

        width: 9px;
    }
    &.nano > .nano-pane > .nano-slider {
        // background: @cs_purple;
        border-radius: 0px;
        background-image: url("../assets/gradient.png");
        background-size: 5px 100%;
        background-size: 5px 100%;
    }



    .listPage_spacer {
        -ctag-tag: "shim";
        -ctag-example: "...";

        height: 50px;
        width: 10px;
        clear: both;
    }

    .listPage_typeToggle {
        -ctag-tag: "button";
        -ctag-example: "...";


        width: 50px; height: 50px;
        position: fixed;
        bottom: 0px; right: 7px;
        background-image: url("../assets/thumbs_icon.png");
        .hand();
        &:hover {
            background-color: #eee;
        }

        body.s_thumbs & {
            background-image: url("../assets/list_icon.png");
        }
    }

    .listPage_rowContainer {
        -ctag-tag: "container";
        -ctag-example: "<div class='nano-content'><div ...>{ .listPage_header }{ .listPage_row }{ .listPage_row }{ .listPage_row }</div></div>";

        width: @phi;
        margin-left: @phi-inv/2;


        @media ( max-width: @screen-sm-min ) {
            width: 90%;
            margin-left: 5%;
            text-align: center;
        }

        @media ( max-width: @screen-md-min ) {
            text-align: center;
        }

        .listPage_header {
            -ctag-tag: "row,header";
            -ctag-example: "...Header";

            float: left;
            width: 100%;//@phi;
            //margin-left: @phi-inv/2;
            font-size: 26px;
            padding-bottom: 28px;
            margin-bottom: 0px;
            color: #777;
            border-bottom: 7px solid @cs_purple;
            transition: height .3s;

            body.s_project & {
                height: 0px;
                border-bottom: 0px;
                padding: 0px; margin: 0px;
                overflow: hidden;
            }
        }

        .listPage_row {
            /*<csstag tag="row">
                <div ...>
                    { .listPage_rowText }
                    { .listPage_rowImage }
                </div>
            </csstag>*/
            float: left;
            width: 100%;
            border-bottom: 1px solid #eee;
            padding: 30px 0px;
            position: relative;
            transition: width .3s;
            .hand();

            body.s_project & {
                padding: 20px 0px;
            }

            body.s_thumbs & {
                .calc( width , 33.3333% , -(40px/3) );
                //width: 33.333%;
                padding: 0px;
                margin: 0px;
                margin-bottom: 10px;
                margin-top: 30px;
                margin-left: 20px;
                //.calc( padding-bottom , 25% , -10px );
                //padding-bottom: 25%;
                border: none;

                &.index_0 {
                    margin-left: 0px;
                }
            }

            &:hover {
                // border-bottom: 1px solid #aaa;
            }

            .listPage_rowText {
                /*<csstag tag="row">
                    <div ...>
                        { .listPage_rowTitle }
                        { .listPage_rowSubTitle }
                        { .listPage_rowDescription }
                    </div>
                </csstag>*/
                width: @phi;
                float: left; clear: left;


                body.s_thumbs & {
                    margin-bottom: 0px;
                    position: absolute;
                    width: 100%;
                    bottom: -26px; left: 0px;
                    font-size: 12px;
                }

                @media ( max-width: @screen-sm-min ) {
                    width: 100%;
                    margin-bottom: 20px;
                }

                @media ( max-width: @screen-md-min ) {
                    width: 100%;
                    margin-bottom: 20px;
                }

                .listPage_rowTitle {
                    /*<csstag tag="label">
                        <div ...>
                            Project Title
                        </div>
                    </csstag>*/
                    font-size: 18px;
                    color: #555;

                    body.s_thumbs & {
                        height: 20px;
                        width: 100%;
                        margin-left: 0px;
                        font-size: 11px;
                        overflow: hidden;
                        color: #999;
                        white-space: nowrap;
                    }

                    @media ( max-width: @screen-sm-min ) {
                        font-size: 20px;
                        text-align: center;

                        body.s_thumbs & {
                            font-size: 11px;
                        }
                    }

                    @media ( max-width: @screen-md-min ) {
                        text-align: center;
                    }
                }
                .listPage_rowSubTitle {
                    /*<csstag tag="label">
                        <div ...>
                            Project Sub Title
                        </div>
                    </csstag>*/
                    font-size: 12px;
                    margin-top: 2px;

                    color: #999;

                    body.s_thumbs & {
                        display: none;
                    }

                    @media ( max-width: @screen-sm-min ) {
                        font-size: 14px;
                        text-align: center;
                    }

                    @media ( max-width: @screen-md-min ) {
                        text-align: center;
                    }
                }
                .listPage_rowDescription {
                    /*<csstag tag="label">
                        <div ...>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Mauris libero diam, placerat at maximus non,
                            rhoncus vitae quam. Nam mollis, purus id rutrum
                            rhoncus, risus magna suscipit ex, ac posuere
                            mauris nisi vel elit. Aliquam fermentum egestas
                            aliquam. Fusce eu lacinia felis. Morbi hendrerit
                            ornare turpis, vel dictum magna facilisis ac.
                            Proin auctor aliquam hendrerit. Phasellus finibus
                            sem eget dui finibus laoreet. Vestibulum porttitor
                            leo sed tortor malesuada, et ultricies sem
                            vulputate. Praesent porta mauris ex, ac consectetur
                            sem facilisis a. Ut pharetra sollicitudin varius.
                            Donec dui turpis, ullamcorper sit amet nisl aliquam,
                            tincidunt dignissim purus.
                        </div>
                    </csstag>*/
                    font-size: 12px;
                    margin-top: 10px;
                    padding-right: 20px;

                    color: #777;

                    body.s_project & {
                        display: none;
                    }

                    body.s_thumbs & {
                        display: none;
                    }

                    @media ( max-width: @screen-sm-min ) {
                        font-size: 14px;
                        text-align: center;
                    }

                    @media ( max-width: @screen-md-min ) {
                        text-align: center;
                    }
                }

            }

            .listPage_rowImage {
                -ctag-tag: "row";
                -ctag-example: "<img ... src='../content/posters/oh_poster/oh.png' />";

                float: right; clear: right;
                box-shadow: 0px 0px 6px 0px rgba( 0 , 0 , 0 , .2 );
                width: @phi-inv;
            	padding-bottom: @phi-inv;// @phinv-phi; /* 16:9 */
            	position: relative;

                body.s_thumbs & {
                    width: 100%;
                    padding-bottom: 100%;
                    width: 100%;
                    float: left;
                }



               .listPage_rowImageChild {
                   -ctag-tag: "image";
                   -ctag-example: "...";

                	position: absolute;
                	top: 0; bottom: 0; left: 0; right: 0;
                    background-size: cover;

                    body.s_thumbs & {
                        top: 0px; bottom: 0px;
                        left: 0px; right: 0px;
                    }
                }

                @media ( max-width: @screen-sm-min ) {
                    float: left; clear: left;
                    margin-left: @phi/2;

                    body.s_thumbs & {
                        margin-left: 0px;
                    }
                }

                @media ( max-width: @screen-md-min ) {
                    float: left; clear: left;
                    margin-left: @phi/2;

                    body.s_thumbs & {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}
