




@media ( max-width: @screen-sm-min ) {

.c-homePage {

    body.s_project &,
    body.s_list & {

    }

    &__rightGradient {
        body.s_project &,
        body.s_list & {
            .a-display-block;
        }
    }


    &__logo {
        .a-transition-none;
        .a-width-col-8;
        height: 30%;//max-
        .a-left-col-2;
        top: 10%;

        body.s_list &,
        body.s_project & {
            display: none;
            .a-transition-none;
        }
    }

    &__highlights {
        .a-width-col-8;
        .a-left-col-2;
        top: 50%;
        .a-height-auto;
        .a-text-size-small;
        //.a-display-none;

        body.s_project &,
        body.s_list & {
            .a-display-none;
        }
    }
        &__highlight {
            &:nth-of-type( n+2 ) {
                .a-display-none;
            }
        }


    &__contactLinks {

        body.s_list.s_project & {
        }
    }
        &__contactLink {
            .a-text-size;
            //font-size: 4vw;
        }


    &__logo--small {

        .a-transition-none;
        .a-height-row-3;
        width: @v-row-3;
        margin-left: 10px;

        background-image: url("../assets/mark.svg");
        background-size: contain;
        transition: all .3s;
        .a-interactive;

        body.s_project &,
        body.s_list & {
            display: block;
            .a-transition-none;
        }
    }

    &__nav {

        .a-transition-none;
        .a-width-col-8;
        .a-height-row-3;
        .a-left-col-2;
        .a-margin-0;

        body.s_project &,
        body.s_list &,
        body.s_list.s_project  & {
            .a-height-row-3;
            .a-transition-none;
            .a-margin-row-0;
            .a-justify-content-space-around;

            // f#$k it, just lay it where it needs to go.
            width: calc( 100% ~'-' 76px );
            left: auto;
            right: 0px;
        }


    }

        &__link {
            .a-text-size-large;
            .a-transition-none;

            body.s_project &,
            body.s_list &,
            body.s_list.s_project  & {
                .a-margin-row-0;
                .a-text-size-large;

                /* three items */
                &:nth-child(1):nth-last-child(3) {
                    .a-margin-row-0;
                }
                &:nth-child(2):nth-last-child(2) {
                }
                &:nth-child(3):nth-last-child(1) {
                    .a-margin-row-0;
                }
            }
        }

}


}
