
.c-homePage {
    .a-fill-container;
    background-position: left;
    background-size: 6px 100%;
    .a-background-white;
    //box-shadow: 0px 0px 10px 0px rgba( 0,0,0,.2);
    overflow: hidden;


    &__rightGradient {
        position: absolute;
        right: 0px; top: 0px;
        background-size: 6px 100%;
        width: 6px; height: 100%;

        body.s_project &,
        body.s_list &,
        body.s_project & {
            display: none;
        }
    }

    &__logo {
        width: @v-col-2;//
        height: @v-col-2;//max-
        .a-position-absolute;
        left: @v-col-2-half;
        top: calc( 50% ~'-' ( @v-col-2 / 2 ) ~'-' @v-row-2 );

        background-image: url("../assets/logo_large.svg");
        background-size: contain;
        .a-transition-all;
        .a-interactive;

        body.s_list & {
            .a-flex-item-fill;
            .a-margin-v-row-1;
            left: ( @v-list-width-inv / 2 ) - ( @v-col-2 / 2 );
        }

        body.s_project & {
            .a-flex-item-fill;
            .a-margin-v-row-1;
            left: ( @v-project-page-width-inv / 2 ) - ( @v-col-2 / 2 );
        }

        body.s_list.s_project & {
            //width: @v-col-1-quarter;
            //height: @v-col-1-quarter;
            //left: ( @v-project-page-width-inv / 2 ) - ( @v-col-1-quarter / 2 );
            //top: calc( 50% ~'-' @v-col-1 );

            //.a-display-none;

            margin: 0px;
            width: 80px;
            height: 80px;
            top: 10px;
            left: calc( ( @v-project-page-width-inv / 2 ) ~'-' 36px );
        }
    }

    &__logo--small {
        //.a-display-none;
        background-size: contain;
        background-color: #fff;
        left: ( @v-list-width-inv / 2 ) - ( @v-col-2 / 2 );
        top: calc( 50% ~'-' ( @v-col-2 / 2 ) ~'-' @v-row-2 );
        .a-transition-all;
        .a-interactive;

        body.s_list.s_project & {
            .a-display-block;
            margin: 0px;
            width: 80px;
            height: 80px;
            top: 10px;
            left: calc( ( @v-project-page-width-inv / 2 ) ~'-' 36px );
        }
    }

    &__highlights {
        .a-width-col-4-half;
        .a-position-absolute;
        .a-right-col-2-half;
        .a-height-minus-row-3;
        .a-flex-v;
        .a-justify-content-center;

        .a-transition-right;

        body.s_list &,
        body.s_project & {
            right: -@v-col-7;//make sure it is off off screen
        }
    }

            &__highlight {
                .a-interactive;

                &:nth-of-type( n+2 ) {
                    .a-margin-top-row;
                }

                &__title {
                    .a-text-size-larger;
                    .a-text-color-grey-3;
                }
                &__description {
                    .a-text-size-minus;
                    .a-text-color-grey-5;
                }
                &__moreBtn {
                    .a-text-size;
                    .a-text-color-grey-3;
                    .a-padding-top-row-quarter;
                }
            }

    &__contactLinks {
        .a-position-absolute;
        .a-height-row-2;
        .a-width-100;
        .a-flex-h;
        justify-content: space-between;
        bottom: -@v-row-2;

        body.s_list.s_project & {
            .a-display-none;
        }
    }
        &__contactLink {
            //.a-text-size-small;
            font-size: 1vw;
            text-decoration: none;
        }


    &__nav {
        .a-width-col-4;
        .a-height-row-3;
        .a-transition-all;
        .a-position-absolute;
        .a-bottom;
        left: calc( 50% ~'-' @v-col-2 );

        .a-flex-h;
        //.a-justify-content-space-around;//between;

        body.s_project &,
        body.s_list & {
            width: @v-home-nav-width;
            .a-height-row-3;
            .a-margin-bottom-row-quarter;
            left: calc( 50% ~'-' ( @v-home-nav-width / 2 ) );
        }

        body.s_list.s_project & {
            /*width: 100%; left: 0px;
            .a-padding-left-col-half;
            .a-padding-right-col-half;
            .a-height-row-2-half;
            .a-margin-bottom-row-0;*/

            .a-height-auto;
            .a-flex-v;// -left;
            .a-top-row-5;
            //.a-align-items-flex-start;
            bottom: auto;
            //.a-display-none;
        }

    }

        &__link {
            .a-text-size-larger;
            .a-text-align-center;
            .a-interactive;
            .a-text-color-grey-4;
            .a-transition-all;
            .a-flex-center;
            .a-flex-item-fill;

            &:hover {
                color: @cs_blue;
            }

            body.s_list & {
                .a-text-size-large;

                /* three items */
                &:nth-child(1):nth-last-child(3) {
                    .a-margin-left-col-quarter;
                }
                &:nth-child(2):nth-last-child(2) {
                }
                &:nth-child(3):nth-last-child(1) {
                    .a-margin-right-col-quarter;
                }
            }
            body.s_project & {
                .a-text-size-plus;

                /* one item */
                &:nth-child(1):nth-last-child(1) {

                }

                /* two items */
                &:nth-child(1):nth-last-child(2),
                &:nth-child(2):nth-last-child(1) {

                }

                /* three items */
                &:nth-child(1):nth-last-child(3) {
                    .a-margin-left-col-quarter;
                }
                &:nth-child(2):nth-last-child(2) {
                }
                &:nth-child(3):nth-last-child(1) {
                    .a-margin-right-col-quarter;
                }

                /* four items */
                &:nth-child(1):nth-last-child(4),
                &:nth-child(2):nth-last-child(3),
                &:nth-child(3):nth-last-child(2),
                &:nth-child(4):nth-last-child(1) {
                    .a-text-size-larger;
                }
            }

            body.s_list.s_project & {
                .a-text-size;
                //.a-height-row-2;
                //margin-left: 10px;
                margin-bottom: 10px;

                /* three items */
                &:nth-child(1):nth-last-child(3) {
                    .a-margin-left-col-0;
                }
                &:nth-child(2):nth-last-child(2) {
                }
                &:nth-child(3):nth-last-child(1) {
                    .a-margin-right-col-0;
                }
            }

        }



}
