


.c-phiTheme {
    /* -ctag-example: ...
            { .c-phiTheme__homePage }
            { .c-phiTheme__contentArea }
            { .c-phiTheme__copyrightNav };*/

    .c-projectPage {
        body.s_project & {

            left: @v-project-page-width-inv;

            &__container {
                display: block;
            }
        }
    }

    &__homePage {
        body.s_list & {
            width: @v-list-width-inv;
        }

        body.s_project & {
            width: @v-project-page-width-inv;
        }

        body.s_project.s_list & {
            .a-height-phi-inv;
            width: @v-project-page-width-inv;
        }
    }

    &__contentArea {
        body.s_page & {
            .a-display-block;
        }
    }

    /*needed here for layering*/
    &__copyrightNav {

        body.s_list & {
            .a-position-left;
        }
        body.s_page & {
            .a-position-left;
        }
        body.s_slideshow & {
            .a-display-none;
        }
        body.s_project & {
            .a-display-none;
        }
        &__bottomNav {}

        &__bottomNavLink {}

        &__copyright {}
    }

}
