


.c-phiTheme {
    /* -ctag-example: ...
            { .c-phiTheme__homePage }
            { .c-phiTheme__contentArea }
            { .c-phiTheme__copyrightNav };*/

    .breakpoint-sm-a-height-auto;

    .c-projectPage {
        body.s_project & {

            width: @v-project-page-width;

            &__container {
                width: @v-project-page-container-width;
                margin-left: ( @v-project-page-width - @v-project-page-container-width ) / 2;
                display: block;
            }
        }
    }

    &__homePage {
        .breakpoint-sm-a-width-100;
        .breakpoint-sm-a-height-row-2;
        .breakpoint-sm-a-position-fixed;
        .breakpoint-sm-a-border-bottom;
        .breakpoint-sm-a-transition-none;

        body.s_list & {
            // .a-width-phi-inv;
            //.a-width-col-6;
            width: 100vw - @v-list-width;
        }

        body.s_page &,
        body.s_project & {
            .a-height-phi-inv;
            width: 100vw - @v-project-page-width;
        }
    }

    &__contentArea {
        body.s_page & {
            .a-display-block;
        }
        .breakpoint-sm-a-width-auto;
        .breakpoint-sm-a-position-relative;
        .breakpoint-sm-a-zindex-contentArea_screen-sm-min;
    }

    /*needed here for layering*/
    &__copyrightNav {
        .breakpoint-sm-a-position-relative;
        .breakpoint-sm-a-display-block;
        .breakpoint-sm-a-width-100;

        body.s_list & {
            .a-position-left;
        }
        body.s_page & {
            .a-position-left;
        }
        body.s_slideshow & {
            .a-display-none;
        }
        body.s_project & {
            .a-display-none;
        }
        &__bottomNav {}

        &__bottomNavLink {}

        &__copyright {}
    }

}
