


.c-projectPage {
    /*-ctag-example: ...
            { .c-projectPage_titleSection }
            { .c-projectPage_summarySection };
    */
    width: @v-project-page-width;
    .a-height-100;
    .a-position-absolute;
    .a-position-top;
    left: 110%;

    padding: 20px;//@v-phitheme-h-padding;
    background-color: #eee;

    .a-zindex-projectPage;
    .a-display-none;

    body.s_project & {
        .a-display-block;
    }

    &.ps-container > .ps-scrollbar-y-rail {
        right: 0px !important;
    }
    &.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        border-radius: 0px;
        background-image: url("../assets/gradient.png");
        background-size: 6px 100%;
        background-size: 6px 100%;
        width: 6px;
    }

    &__container {
        //.a-margin-v-row-2;
        padding-left: @v-phitheme-h-padding;
        padding-right: @v-phitheme-h-padding;
        // padding-bottom: @v-phitheme-h-padding;
        //margin-bottom: 20px;

        .a-background-white;
        // box-shadow: 0px 0px 8px rgba( 0,0,0,.1);
        .a-display-none;

        .a-clear-fix;
        min-height: calc( 100vh ~'-' 40px );
    }


    &__titleSection {
        /* -ctag-example: "...
            { .titleSection_titles }
            { .titleSection_next }
            { .titleSection_prev };*/

        .a-position-relative;
        .a-height-row-5;
        .a-flex-h;
        .a-clear-fix;

        &__titles {
            /* -ctag-example: "...
                { .titleSection_title }
                { .titleSection_subTitle }";*/

            .a-flex-item-fill;
            .a-text-align-left;
            .a-text-color-grey;
            padding-left: @v-project-page-h-padding;
        }
    }

        &__title {
            /* -ctag-example: "...Project Title";*/
            // .a-float-clear-left;
            .a-text-size-larger-plus;
            .a-text-color-grey-3;
        }

        &__subTitle {
            /* -ctag-example: "...Project Sub Title";*/
            // .a-float-clear-left;
            .a-text-size-smaller;
        }
        &__close {
            /* -ctag-example: ...; */

            width: @v-row-5;
            .a-height-100;
            .a-interactive-hover;

            background-image: url("../assets/close_icon.png");
            &:hover {
                //background-image: url("../assets/close_icon_white.png");
            }
        }

    &__content {
        .a-flex-h;
        flex-direction: row-reverse;
        .a-align-items-flex-start;
    }

        &__summary {
            .a-flex-item-fill;
            .a-flex-v;
            .a-border-right-weakest;
            .a-padding-bottom-row-2;

            &--noDescription {
                height: calc( 100vh ~'-' 150px );
                .a-border-right-none;

                .c-projectPage__navLinkButton {
                    .a-justify-content-center;
                }

                .c-projectPage__summaryEntry--previewImage {
                    flex-grow: 1;
                }

                .c-projectPage__summaryEntry:last-of-type {
                    .a-border-none;
                }
            }
        }

            &__summaryEntry {
                .a-width-100;
                .a-height-row-3;
                .a-border-bottom-weakest;
                .a-text-size-small;
                .a-text-color-grey-4;
                .a-justify-content-flex-start;
                .a-interactive;
                .a-flex-h;

                &:hover {
                    .a-border-bottom-strong;

                    .c-projectPage__summaryText {
                        .a-text-color-grey-6;
                    }

                    img {
                        box-shadow: 0px 0px 12px rgba( 0,0,0,.1);
                    }
                }

                &--previewImage {
                    .a-width-100;
                    height: @v-col-3;

                    .breakpoint-sm-a-width-100;

                    img {
                        max-width: calc( 100% ~'-' ( @v-project-page-h-padding  ) );
                        max-height: calc( 100% ~'-' ( @v-project-page-h-padding  ) );
                        box-shadow: 0px 0px 8px rgba( 0,0,0,.1);
                        position: absolute;
                        transform: translateY(-50%) translateX(-50%);
                        left: 50%; top: 50%;
                        .a-transition-all;
                    }
                }

            }

                &__summaryText {
                    .a-position-bottom-right;
                    .a-text-color-grey-8;
                    .a-padding-row-quarter;
                }

                &__navLinkButton {
                    text-decoration: none;
                    .a-text-color-grey-5;
                    // .a-text-align-center;
                    .a-text-size;
                    .a-flex-center;
                    .a-fill-container;
                    .a-justify-content-flex-start;
                    .a-padding-left-col-quarter;
                    outline: 0;
                }


        &__text {
            /* -ctag-example: "...<p>here is some text</p>";*/

            .a-width-col-5;
            .a-text-size-plus;
            .a-text-color-grey-4;

            padding-left: @v-project-page-h-padding ;
            padding-right: @v-project-page-h-padding ;
            .a-padding-top-row-1-half;

            .a-margin-bottom-row-2;

            .breakpoint-sm-a-width-100;

            > p {
                .a-padding-0;
                .a-margin-0;
                .a-margin-bottom-row-half;
                .a-line-height-row-1-quarter;
            }

            > h2, > h1, > h3 {
                .a-margin-top-row;
                .a-margin-bottom-row-half;
                //.a-border-bottom-weaker;
            }
        }



}
