
.contentTitleSection {
    /*<csstag tag="section">
        <div ...>
            { .contentTitleSection_titleSection }
            { .contentTitleSection_summarySection }
            { .contentTitleSection_navLinks }
        </div>
    </csstag>*/
    width: @phi_inv; height:@phi;
    position: absolute;
    left: 0px; bottom: 0px;
    border-right: 1px solid #eee;
    .zIndex( "contentTitleSection" );

    @media ( max-width: @screen-sm-min ) {
        width: 100%; height: 300px;
        position: relative;
        display: none;
    }

    body.s_project & {
        @media ( max-width: @screen-sm-min ) {
    		display: block;
    	}
    }

    .contentTitleSection_titleSection {
        -ctag-tag: "section,header";
        -ctag-example: "...{ .titleSection_titles }{ .titleSection_next }{ .titleSection_prev }";

        width: 100%; height: 80px;
        position: relative;

        .titleSection_button {
            -ctag-tag: "button";
            -ctag-example: "...";

            width: 60px; height: 100%;
            float: left; position: relative;
            .zIndex( "titleSection_button" );
            background-color: #fff;
            .hand();

            &:hover {
                background-color: #eee;
            }
        }

        .titleSection_close {
            -ctag-tag: "button";
            -ctag-example: "...";

            &:extend(
                .contentTitleSection
                .contentTitleSection_titleSection
                .titleSection_button all
            );
            float: right;
            background-image: url("../assets/close_icon.png");
        }
        .titleSection_prev {
            -ctag-tag: "button";
            -ctag-example: "...";

            &:extend(
                .contentTitleSection
                .contentTitleSection_titleSection
                .titleSection_button all
            );

            float: right;
            background-image: url("../assets/prev_icon.png");
        }
        .titleSection_next {
            -ctag-tag: "button";
            -ctag-example: "...";

            &:extend(
                .contentTitleSection
                .contentTitleSection_titleSection
                .titleSection_button all
            );

            float: right;
            background-image: url("../assets/next_icon.png");
        }

        .titleSection_titles {
            -ctag-tag: "section";
            -ctag-example: "...{ .titleSection_title }{ .titleSection_subTitle }";

            width: 100%; height: 100%;
            position: absolute;
            .zIndex( "titleSection_titles" );
            left: 0px; top: 0px;
            text-align: left;
            padding: 18px 20px;
            color: #777;

            .titleSection_title {
                -ctag-tag: "title";
                -ctag-example: "...Project Title";

                float:left; clear: left;
                font-size: 20px; margin-bottom: 4px;
            }
            .titleSection_subTitle {
                -ctag-tag: "title";
                -ctag-example: "...Project Sub Title";

                float: left; clear: left;
                font-size: 12px;
            }
        }
    }

    .contentTitleSection_summarySection {
        -ctag-tag: "title";
        -ctag-example: "...{ .contentTitleSection .contentTitleSection_summarySection p }";

        width: 100%;
        .calc( height , 100% , -( 80px + 70px ) );
        padding: 0px 20px;
        overflow: auto;
        font-size: 14px; color: #777;
        line-height: 18px;

        > p {
            -ctag-tag: "paragraph";
            -ctag-example: "<p>here is some text</p>";

            padding: 0px;
            margin: 0px;
            margin-bottom: 10px;
        }
    }

    .contentTitleSection_navLinks {
        /*<csstag tag="navigation">
            <div ...>
                { .contentTitleSection_navLinkContainer }
            </div>
        </csstag>*/
        width: 100%; height: 60px;
        position: absolute;
        bottom: 0px; left: 0px;
        padding-right: 10px;

        .contentTitleSection_navLinkContainer {
            /*<csstag tag="section">
                <div ...>
                    { .contentTitleSection_navLinkButton }
                </div>
            </csstag>*/
            float: left;
            width: 100%;
            padding-left: 10px;

            .contentTitleSection_navLinkButton {
                /*<csstag tag="button">
                    <a ...>Prototype</a>
                </csstag>*/

                display: block;
                text-decoration: none;
                color: #777;
                font-size: 14px;
                text-align: center;
                border: 1px solid #ddd;
                padding: 16px 0px;
                border-radius: 4px;
                height: 50px;
                .hand();
                &:hover {
                    background-color: #eee;
                }

                @media ( max-width: @screen-sm-min ) {

                }
            }
        }
    }
}
