
.contentTitleSection {
    /*<csstag tag="section">
        <div ...>
            { .contentTitleSection_titleSection }
            { .contentTitleSection_summarySection }
            { .contentTitleSection_navLinks }
        </div>
    </csstag>*/

    width: @phi; height: auto;
    position: absolute;
    left: @phi-inv; top: 0px;
    // border-left: 1px solid #eee;
    background-color: #fff;
    padding-top: 20px;
    display: none;

    .zIndex( "contentTitleSection" );

    @media ( max-width: @screen-sm-min ) {
        width: 100%;
        //height: 300px;
        position: relative;
        left: 0px;
        display: none;
    }

    body.s_project & {
        display: block;

        @media ( max-width: @screen-sm-min ) {
    		display: block;
            margin-top: 80px;
    	}
    }

    body.s_fullscreen & {
        display: none;
    }

    .contentTitleSection_titleSection {
        -ctag-example: "...{ .titleSection_titles }{ .titleSection_next }{ .titleSection_prev }";

        width: @phi; margin-left: @phi-inv/2;
        height: 80px;
        position: relative;
        margin-top: 40px; margin-bottom: 20px;

        @media ( max-width: @screen-sm-min ) {
            width: 90%;
            margin-left: 5%;
        }

        .titleSection_button {
            -ctag-example: "...";

            width: 60px; height: 100%;
            float: left; position: relative;
            .zIndex( "titleSection_button" );
            background-color: #fff;
            .hand();

            &:hover {
                background-color: #eee;
            }
        }

        .titleSection_close {
            -ctag-example: "...";

            &:extend(
                .contentTitleSection
                .contentTitleSection_titleSection
                .titleSection_button all
            );
            float: right;
            background-image: url("../assets/close_icon.png");
        }
        .titleSection_prev {
            -ctag-tag: "button";
            -ctag-example: "...";

            &:extend(
                .contentTitleSection
                .contentTitleSection_titleSection
                .titleSection_button all
            );

            float: right;
            background-image: url("../assets/prev_icon.png");
        }
        .titleSection_next {
            -ctag-example: "...";

            &:extend(
                .contentTitleSection
                .contentTitleSection_titleSection
                .titleSection_button all
            );

            float: right;
            background-image: url("../assets/next_icon.png");
        }

        .titleSection_titles {
            -ctag-example: "...{ .titleSection_title }{ .titleSection_subTitle }";

            width: 100%; height: 100%;
            position: absolute;

            left: 0px; top: 0px;
            text-align: left;
            // padding: 18px 20px;
            color: #777;

            .titleSection_title {
                -ctag-example: "...Project Title";

                float:left; clear: left;
                font-size: 28px; margin-bottom: 4px;
            }
            .titleSection_subTitle {
                -ctag-example: "...Project Sub Title";

                float: left; clear: left;
                font-size: 12px;
            }
        }

        .titleSection_totalImgs {
            width: 60px; height: 60px;
            border: 1px solid #eee;
            position: relative;
            text-align: center;
            float: right;
            .hand();
            &:hover {
                background-color: #eee;
            }

            &__num {
                font-size: 24px;
                width: 100%;
                color: #999;
                position: absolute;
                top: 8px;
            }
            &__images {
                font-size: 12px;
                width: 100%;
                color: #aaa;
                position: absolute;
                bottom: 6px;
            }
        }
    }

    .titleSection_mainImage {
        width: 100%; height: @vh-phi-inv;
        background-size : 100%;
        background-position: center;
        margin-bottom : 20px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        .hand();
        transition: background-size .3s;

        &:hover {
            background-size : 110%;
        }
    }

    .contentTitleSection_summarySection {
        -ctag-example: "...{ .contentTitleSection .contentTitleSection_summarySection p }";

        width: @phi; margin-left: @phi-inv/2;
        font-size: 16px; color: #777;
        line-height: 24px;

        @media ( max-width: @screen-sm-min ) {
            width: 90%;
            margin-left: 5%;
        }

        > p {
            -ctag-tag: "paragraph";
            -ctag-example: "<p>here is some text</p>";

            padding: 0px;
            margin: 0px;
            margin-bottom: 10px;
        }
    }

    .contentTitleSection_close {
        position: absolute;
        width: 60px; height: 60px;
        top: 0px; right: 0px;
        background-image: url("../assets/close_icon.png");
        .hand();

        &:hover {
            background-color: rgba( 30,30,30,.2);
            background-image: url("../assets/close_icon_white.png");
        }
    }

    .contentTitleSection_navLinks {
        /*<csstag tag="navigation">
            <div ...>
                { .contentTitleSection_navLinkContainer }
            </div>
        </csstag>*/
        width: @phi; margin-left: @phi-inv/2;
        height: 60px; margin-top: 20px;
        position: relative;

        @media ( max-width: @screen-sm-min ) {
            width: 90%;
            margin-left: 5%;
        }

        .contentTitleSection_navLinkContainer {
            /*<csstag tag="section">
                <div ...>
                    { .contentTitleSection_navLinkButton }
                </div>
            </csstag>*/
            float: left;
            width: 100%;

            .contentTitleSection_navLinkButton {
                /*<csstag tag="button">
                    <a ...>Prototype</a>
                </csstag>*/

                display: block;
                text-decoration: none;
                color: #777;
                font-size: 14px;
                text-align: center;
                border: 1px solid #ddd;
                padding: 16px 0px;
                border-radius: 4px;
                height: 50px;
                .hand();
                &:hover {
                    background-color: #eee;
                }

                @media ( max-width: @screen-sm-min ) {

                }
            }
        }
    }
}
