
/*
Mixin's
*/
.calc ( @prop , @percent: 100%  , @diff: 0px ) {
	@{prop} : calc( @percent ~'+' @diff );
}
.hand() {
	cursor: pointer;
	cursor: hand;
}
.handover( @color : #eee ) {
	.hand();
	&:hover {
		background-color: @color;
	}
}

.unhand() {
	cursor: default;
}



@cs_blue: #999;// #02DFDF;
@cs_purple: #999;// #B94FFB;

//PHI (yeah, that's not really phi)
@phi: 61.803398%;
@phi-inv: 100 - ( @phi );
@phi-inv-half: @phi-inv / 2;
@phi-inv-quarter: @phi-inv / 4;

@vh-phi: 61.8033vh;
@vh-phi-inv: 100 - ( @vh-phi );
@vh-phi-inv-half: @vh-phi-inv / 2;
@vh-phi-inv-quarter: @vh-phi-inv / 4;

@vw-phi: 61.8033vw;
@vw-phi-inv: 100 - ( @vw-phi );
@vw-phi-inv-half: @vw-phi-inv / 2;
@vw-phi-inv-quarter: @vw-phi-inv / 4;

//FROM BOOTSTRAP
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;

// Small screen / tablet
@screen-sm-min:              768px;

// Medium screen / desktop
@screen-md-min:              992px;

// Large screen / wide desktop
@screen-lg-min:              1200px;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
