
.page {
    /*<csstag tag="page">
        <div ...>
            { .page_content }
        </div>
    </csstag>*/
    display: none;
    width: 100%;

    body.s_page & {
        display: block;
    }

    @media ( max-width: @screen-sm-min ) {
        margin-top: 80px;
    }

    .page_content {
        /*<csstag tag="section">
            <div ...>
                <h1>Title</h1>
                <p>Some content</p>
            </div>
        </csstag>*/
        width: @phi;
        margin-left: @phi-inv/2;
        padding-top: 50px;

        @media ( max-width: @screen-sm-min ) {
            width: 90%;
            margin-left: 5%;
            padding-top: 30px;
        }
    }
}
